@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-black;
  @apply text-lg;
  @apply font-normal;
  @apply cursor-default;
  @apply scroll-smooth;
}
h1,
h2,
h3 {
  @apply text-gray-200;
  @apply font-bold;
}
p {
  @apply text-gray-400;
  @apply text-base;
  @apply font-semibold;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

section {
  @apply mb-12;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
